body {
  margin: 4rem 0 !important;
}

/* LandingPage */

#user-container {
  padding: 0 10%;
}

.list-item {
  margin: 1rem 0 !important;
  display: -webkit-inline-flex !important;
}

a {
  color: rgba(0, 0, 0, 0.794) !important;
}

#no-users {
  text-align: center;
}

#error {
  text-align: center;
}

.user-name {
  font-size: 23px;
  padding-top: 5rem;
  padding-left: 2rem;
}

/* Specific User */

#user-grid {
  margin-top: 5rem;
  padding: 1rem;
  width: 60% !important;
  background-color: #f5f6f7;
  border-radius: 15px;
  box-shadow: 0 19px 40px rgba(0, 0, 0, 0.13);
}

#info {
  color: rgba(0, 0, 0, 0.794) !important;
}
